.container {
  max-width: 960px; }

/*
 * Custom translucent site header
 */
.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }

.site-header a {
  color: #999;
  transition: ease-in-out color .15s; }

.site-header a:hover {
  color: #fff;
  text-decoration: none; }

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #DBCCB5;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  border-radius: 5px; }

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5; }

/*
 * Extra utilities
 */
.flex-equal > * {
  -ms-flex: 1;
  flex: 1; }

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1; } }

.overflow-hidden {
  overflow: hidden; }

.bg-primary {
  background-color: #DBCCB5 !important; }

.bg-dark {
  background-color: #DBCCB5 !important; }

.bg-light {
  background-color: #DBCCB5 !important; }

body {
  color: #743233;
  font-family: 'Montserrat', sans-serif; }

.text-white {
  color: #743233 !important; }

.font-weight-normal {
  font-weight: 700 !important; }

.display-4 {
  font-size: 5rem;
  font-weight: 600;
  /* line-height: 1.2; */ }

.lead {
  font-size: 1rem;
  font-weight: 300;
  color: #836B4F; }

.h2, h2 {
  font-size: 2rem;
  font-weight: 700; }

.btn-outline-secondary {
  color: #743233;
  border-color: #743233; }

.btn-outline-secondary:hover {
  color: #743233;
  background-color: #dbccb5;
  border-color: #dbccb5; }

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #743233;
  /* border-color: #6c757d; */ }

.site-header {
  background-color: #743233;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }

.site-header a {
  color: #bbb;
  transition: ease-in-out color .15s; }

.btn-primary {
  color: #743233;
  background-color: #fff6e9;
  border-color: #743233; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #743233;
  border-color: #743233; }

.btn-primary:hover {
  color: #743233;
  background-color: #dbccb5;
  border-color: #dbccb5; }

.btn {
  display: inline-block;
  font-weight: 700; }

body .modal-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center; }

.h1, h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center; }

.beans {
  display: block;
  margin-left: auto;
  margin-right: auto; }

body .modal-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  /* margin-right: auto; */ }

body .congratsNote {
  text-align: center;
  color: #3f8051;
  font-weight: 700; }

.radio {
  text-align: center; }

.randomize {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px; }
